/*Import font from google*/

@import url('https://fonts.googleapis.com/css?family=Gugi');


.flex-container {
    display: flex;
    margin-top: 25px;
    justify-content: center;
}

#table {
    display: flex;
    width: 800px;
    height: 500px;
    background-image: url("/static/media/surface.jpg");
    justify-content: center;

}

/*Draw board*/

#board {
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: #00000096;
    transform: rotate(45deg);
    border-radius: 15px;

}


/*put shadows on boxes*/
.shadow {
    box-shadow: 3px 9px 9px 9px #484747,
    inset 0 0 10px #828282;
}


.gameButton {
    width: 100px;
    height: 100px;
    background-color: #ff000096;
}


/*Red button left*/
#red {
    position: relative;
    top: 180px;
    left: 20px;
    background-color: #ff000096;
}

/*Green button top*/
#green {
    position: relative;
    top: -80px;
    left: 20px;
    background-color: #00ff1496;

}

/*Blue button right*/
#blue {
    position: relative;
    left: 180px;
    bottom: 180px;
    background-color: #00c4ff96;
}

/*Yellow button bot*/
#yellow {
    position: relative;
    left: 180px;
    bottom: 120px;
    background-color: #ffe00096;
}


#label{
    border-radius: 15px;
    position: relative;
    bottom: 300px;
    left: 100px;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    background-color: #dadada;
    box-shadow: inset 0 0 10px #828282;
}

/*Game name*/
#name h2 {
    position: absolute;
    transform: rotate(-90deg);
    right: 40px;
    top: 15px;
    
    font-family: 'Gugi', cursive;
    font-weight: bold;
    color: #000;
    text-shadow: 2px 2px #fff;
}